.panel-grey > .panel-heading {
  background-image: -webkit-linear-gradient(top, #939393 0%, #4F4F4F 100%);
  background-image:         linear-gradient(to bottom, #939393 0%, #4F4F4F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#4F4F4F', GradientType=0);
  background-repeat: repeat-x;
}

.panel-maroon > .panel-heading {
  background-image: -webkit-linear-gradient(top, #7C2020 0%, #931414 100%);
  background-image:         linear-gradient(to bottom, #7C2020%, #931414 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7C2020', endColorstr='#931414', GradientType=0);
  background-repeat: repeat-x;
}

.panel-grey > .panel-footer {
  background-image: -webkit-linear-gradient(top, #111010 0%, #1E1B1B 100%);
  background-image:         linear-gradient(to bottom, #111010 0%, #1E1B1B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111010', endColorstr='#1E1B1B', GradientType=0);
  background-repeat: repeat-x;
  color:#fff;
  margin-top: 50px;
}

hr{
  background-color: #383434;
  border-color: #141212;
  
}
.panel_body > .h1 {
  color: #D3C9C9;
}
links > .a {
  color:#7F7B7B;
}


.side_heading{
    
    font-size: 18px;
    font-family: sans-serif;
    color: #821717;
}
.nav-right{    
  font: 15px;
  color:white;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
p > .heading_description{
  size: 18px;
}
heading1{
  font: 20px;
  color:red;
}
