.panel-grey > .panel-heading {
  background-image: -webkit-linear-gradient(top, #939393 0%, #4F4F4F 100%);
  background-image:         linear-gradient(to bottom, #939393 0%, #4F4F4F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#4F4F4F', GradientType=0);
  background-repeat: repeat-x;
}

.panel-maroon > .panel-heading {
  background-image: -webkit-linear-gradient(top, #0F0C0C 0%, #931414 100%);
  background-image:         linear-gradient(to bottom, #0F0C0C0%, #93141 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0F0C0C', endColorstr='#93141', GradientType=0);
  background-repeat: repeat-x;
}

.panel-grey > .panel-footer {
  background-image: -webkit-linear-gradient(top, #111010 0%, #1E1B1B 100%);
  background-image:         linear-gradient(to bottom, #111010 0%, #1E1B1B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111010', endColorstr='#1E1B1B', GradientType=0);
  background-repeat: repeat-x;
  color:#fff;
}

hr{
  background-color: #141212;
  border-color: #141212;
  
}
.links > a {
  color:#7F7B7B;
}


.side_heading{
    
    font-size: 18px;
    font-family: sans-serif;
    color: #821717;
}
.nav-right{    
  font: 15px;
  color:white;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

