* {
  font-family: cursive;
  
  
}
body{
  font-size: 16pt;
}

.panel-grey > .panel-heading {
  background-image: -webkit-linear-gradient(top, #3D3838 0%, #161414 100%);
  background-image:         linear-gradient(to bottom, #3D3838 0%, #161414 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D3838', endColorstr='#161414', GradientType=0);
  background-repeat: repeat-x;
}

.panel-grey > .panel-footer {
  background-image: -webkit-linear-gradient(top, #8E8D8D 0%, #D1D1D1 100%);
  background-image:         linear-gradient(to bottom, #F2EDED  0%, #D1D1D1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2EDED', endColorstr='#D1D1D1', GradientType=0);
  background-repeat: repeat-x;
  color:#fff;
  margin-top: 50px;
}

.panel-grey > .panel-heading > h1 {
  color: white;
}

.panel-maroon > .panel-heading  {
  background-image: -webkit-linear-gradient(top, #540000 0%, #300000 100%);
  background-image:         linear-gradient(to bottom, #540000 0%, #300000  100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#540000', endColorstr='#300000 ', GradientType=0);
  background-repeat: repeat-x;
  
}

.panel-maroon > .panel-footer {
  background-image: -webkit-linear-gradient(top, #540000 0%, #300000 100%);
  background-image:         linear-gradient(to bottom, #540000 0%, #300000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#540000', endColorstr='#300000', GradientType=0);
  background-repeat: repeat-x;
  color:#fff;
  margin-top: 50px;
}

.panel-maroon > .panel-heading > h1 {
  color: white;
}

hr{
  background-color: #BFBDBD;
  border-color: #AAA5A5;
  
}
.panel_body > .h1 {
  color: #D3C9C9;
}
links > .a {
  color:#7F7B7B;
}


.side_heading{
    
    font-size: 18px;
    font-family: sans-serif;
    color: #821717;
}
.nav-right{    
  font: 15px;
  color:white;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

p > .heading_description{
  size: 18px;
}

.heading{
  font-size: 30px;
  color:#262424;
}

.greenwell {
  background-image: -webkit-linear-gradient(top, #CAF9D8 0%, #CAF9CF 100%);
  background-image:         linear-gradient(to bottom, #caf9d8 0%, #CAF9CF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caf9d8', endColorstr='#CAF9CF', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
}
a, a:hover, a:active, a:visited {
  color: #BA3232;
}

div#myCarousel {
  height: 230px;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 16pt;
}

div.item {
  text-align: center;
}

a.carousel-control {
  font-size: 36pt;
  color: #A5A5A5;
}